.navbar {
    background-color: #fbfbfb;
}

.navbar-toggler{
    margin-left: 10px;
}

.firstPart{
    display: flex;
    background-color: #fbfbfb;
}

.firstPartText {
    margin: auto;
    padding-left: 170px;
    
}

.johnDoeText{
    font-size: 80px;
    padding: 0;
    
}

.mainJohn {
    width: 800px;
}

.littleAboutMe {
    display: flex;
    background-color: #E04343;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom:70px;
    align-items: center;
}

.littleAboutMeTitle{
    padding-bottom: 20px;
    font-size: 15px;
    text-align: center;
}

.littleAboutMeText {
    padding-top: 20px;
    width: 50%;
    text-align: center;
}

.amazingThings{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom:70px;
}

.amazingThingsTitle{
    text-align: center;
}

.amazingThingsBoxes {
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
    padding-top: 20px;
    
}

.amazingThingsBox{
   
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
   
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin: 0;

}

.nopadding1{
    background-image: url(assets/about1.png);
    background-size: cover;
}

.nopadding2{
    background-image: url(assets/about2.png);
    background-size: cover;
}

.nopadding3{
    background-image: url(assets/about3.png);
    background-size: cover;
}
.about-text{
    padding: 50px;
    background-color: #E04343;
    color: white;
}

.about-text2{
    padding: 50px;
    background-color: white;
    color: grey;
}

.h6after::after {
    content: " ";
    border: dashed;
    display: block;
    width: 50px;
    margin-top: 20px;
}
.projecttitleH4{
    color: #E04343;
}

.projectsTitleBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 70px;   
    padding-bottom: 20px;  
}

.containerProjects1{
    display: flex;
    justify-content: center;
}

.containerProjects2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.projectImg{
    padding: 5px;
    filter: grayscale(100%);
}

.projectImg:hover{
    filter:none; 
}

.hireButonContainer{
    margin: 0;
    padding: 20px;
    background-color: #E04343;
    display: flex;
    justify-content: center;
}

.hireButton{
    background-color: #E04343;
    color: #FFE800;
    border: solid 2px #FFE800;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.hireButton:hover{
    background-color: #FFE800;
    color: #E04343;
}

.blogContainer{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom:70px;
}

.blogImg{
    padding-bottom: 15px;
    filter: brightness(50%);
}

.blogImg:hover{
    filter: brightness(100%);
}

.blogTitle{
    text-align: center;
}

.BlogBoxes {
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
    padding-top: 20px;
    
}

.blogBox{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
   
}


